.loading-info {
    font-size: 50px;
}

.card-container {
    margin-top: 20px;
    overflow-y: scroll;
    overflow-y: auto;
    max-height: 390px;
}

.card-container::-webkit-scrollbar {
    width: 20px;
}

.card-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}