.fas {
    font-size: 50px;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    background-color: rgb(246, 246, 246);
    padding: 10px;
    height: 93vh;

    .username-page {
        color: #818080;
    }

    .location-page {
        color: #818080;

    }
}